/* .page{
    flex: 0 0 calc(33.33% - 2.5rem);
    
} */
.page-num {
    width: auto;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    margin: 0 5px;
    font-size: 20px;
    border-radius: 0;
    cursor: pointer;
    padding: 10px;
}
.page-num:hover,
.page.selected {
    background-color: black;
    color: white;
}
