.card {
    width: 25%;
    cursor: pointer;
    box-sizing: border-box;
    padding: 20px 7px;
    position: relative;
}

.img-container {
    background-color: #f2f2f2;
    /* background-color: #EEE7DA; */
    position: relative;
}

.img-container img {
    width: 100%;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: filter 0.3s ease;
}

.img-container:hover img {
    filter: blur(5px);
}

.prod-price{
    /* margin-left:10px; */
    font-family: GT-America-bold;
    font-size:90%;
    margin: 10px 0px;
    font-style: italic;
}
.circle{
    border-radius: 50%;
    border: 1px solid grey;
    height: 22px;
    width: 22px;
    margin: 10px 3px;
}
.color-circle{
    display: flex;
}
.color-circle a img{
    border-radius: 50%;
    border: 1px solid black;
    height:30px;
    width: 30px;
    margin: 10px 0px;
}
.specs{
    display: inline-block;
}
.img-container a{
    display: block;
    width:80%;
    position: relative;
    padding-bottom: 120%;
    margin: 0 auto;
    mix-blend-mode: multiply;
    overflow: hidden;
}

/* .card .cart-icon {
    display: none;
} */

.img-container:hover .cart-icon {
    display: block;
    opacity: 1;
}

.cart-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    /* margin: 10px; */
    opacity: 0;
    transition: opacity 0.3s ease;
}
.details{
    padding: 10px 0 0;
}

.prod-name{
    font-size: 180%;
    font-family: GT-America-bold;
    text-align: left;
    word-wrap: break-word;
}

a{
    line-height: 30px;
    color: black;
    font-weight: 1000px;
    font-family: GT-America-bold;
    letter-spacing: .5px;
}

.btn.circle.selected {
    /* outline: 2px solid grey;
    box-shadow: 0 0 0 px; */
    border: 2px solid grey;
    border-radius: 50% ;
}

@media only screen and (max-width: 767px){
    .card{
        padding: 20px 5px;
    }
}
@media only screen and (max-width: 768px) {
    .card{
        width: 33.33%;
    }
}

@media screen and(min-width: 769px) {
    a{
        font-size: 30%;
    }
}


@media screen and (max-width: 550px) {
    .card{
        width: 45%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 340px) {
    .specs{
        display: block;
    }
    .prod-price{
        margin-left: 0;
    }
}