.card {
    width: 25%;
    cursor: pointer;
    box-sizing: border-box;
    padding: 15px 7px;
    position: relative;
}

.img-container {
    background-color: #f2f2f2;
}

.img-container img {
    width: 100%;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
}
.prod-price{
    margin-left:10px;
}
.specs{
    display: inline-flex;
}
.img-container a{
    display: block;
    width:80%;
    position: relative;
    padding-bottom: 120%;
    margin: 0 auto;
    mix-blend-mode: multiply;
    overflow: hidden;
}

.details{
    padding: 10px 0 0;
}

.prod-name{
    font-size: 150%;
    font-family: GT-America-bold;
    text-align: left;
}

a{
    line-height: 30px;
    color: black;
    font-weight: 1000px;
    font-family: GT-America-bold;
    letter-spacing: .5px;
}

@media only screen and (max-width: 767px){
    .card{
        padding: 20px 5px;
    }
}
@media only screen and (max-width: 768px) {
    .card{
        width: 33.33%;
    }
}

@media screen and(min-width: 769px) {
    a{
        font-size: 30%;
    }
}


@media screen and (max-width: 550px) {
    .card{
        width: 45%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 340px) {
    .specs{
        display: block;
    }
    .prod-price{
        margin-left: 0;
    }
}